{% load static %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
        integrity="sha512-4hS3cdPWMGpsENMD1pYeMA5Afq63hyIahkI6JEwKu+l8PqMXZ0GaP3l/dnEUUZIoXGchqmYS41ZalSN8WUdd3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>